/* Align the page title text to the left */
.home .page-title {
    text-align: left !important;
}

/* Align the profile picture to the left */
.home .author-profile img {
    display: block;
    margin-left: 0;
}

/* Align social icons to the left */
.home .author-icons {
    text-align: left !important;
}

/* Align buttons to the left */
.home .buttons {
    text-align: left !important;
}
